<section id="faq" class="faq">
  <img class="basketball" src="./assets/images/basketball.png">
  <img class="lightbulp" src="./assets/images/light-bulb.png">
  <img class="faq" src="./assets/images/question.png">

  <div class="container">
    <div class="row">
      <h1 class="col-md-10 offset-md-2">FAQ?</h1>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-2">
        <h3>Når kommer toyloop?</h3>
        <p>Toyloop håper på å bli lansert januar 2019. <br/>
          Meld deg på vårt nyhetsbrev for å vite når vi åpner butikken!
        </p>

        <h3>Renslighet?</h3>
        <p>Lekene som blir sendt tilbake er av en slik kvalitet at de kan både bli vasket og steralisert.
          Du kan derfor være sikkert på at de nye lekene er hygenisk!
        </p>

        <h3>Hvor mye koster det?</h3>
        <p>En nøyaktig pris på kassene vil komme først når butikken blir lansert i januar</p>

        <h3>Hvem kan bestille?</h3>
        <p>Alle i norge kan bestille fra toyloop</p>

        <h3>Hvor lenge varer abonnementet?</h3>
        <p>Abonnement er løpende, men du kan når som helst melde deg av</p>
      </div>
    </div>

  </div>

</section>
