<section id="why" class="why">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Hvorfor?</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-4 offset-md-2 image">
        <img class="image" src="./assets/images/earth-globe.png">
      </div>
      <div class="col-sm-12 col-md-6">
        <h2>Miljøvennelig</h2>
        <p>Gi gamle leker nytt liv. La andre barn få gleden av leker som ikke lenger er av interesse for ditt barn.
          Etter at du har returnert leken til oss, vil vi vaske og stearilisere leken før den blir sendt videre <br/><br/>
          Bra for deg og miljøet!
        </p>
      </div>
    </div>

    <div class="row">
      <div class="show-on-large-screen col-sm-12 col-md-4 image">
        <img class="image" src="./assets/images/books.png">
      </div>
      <div class="col-sm-12 col-md-6 offset-md-2">
        <h2>Lærerrikt</h2>
        <p>Barn utvikler seg utrolig raskt i begynnelsen av livet.
          I går var farger og lyd spennende, i dag vil barnet sortere klosser.<br/><br/>
          Toyloop holder tritt med barnets utvikling, og sørger for at barnet blir utfordret basert på deres alder!
        </p>
      </div>
      <div class="hide-on-small-screen col-md-4 image">
        <img class="image" src="./assets/images/books.png">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-4 offset-md-2 image">
        <img class="image" src="./assets/images/dollar-symbol.png">
      </div>
      <div class="col-sm-12 col-md-6">
        <h2>Økonomisk</h2>
        <p>Ved å levere tilbake de brukte lekene hjelper du ikke bare miljløet. <br/><br/>
          Du sparer også penger! <br/><br/>
          Tilbakelevering av leker gjør at toyloop sparer penger på innkjøp. Dette gjør også at varene blir billigere for deg som kunde!
        </p>
      </div>
    </div>
  </div>

</section>


