<footer class="footer">
  <div class="container">
    <h1>Kontakt Info</h1>
    <footer>
      <div class="row">
        <div class="col-12">
          <h2><img src="./assets/images/toyloop.svg"></h2>
        </div>
      </div>
      <div class="row location">
        <div class="col-1">
          <i class="material-icons">
            location_on
          </i>
        </div>
        <div class="col-10">
          Bønesheien 104<br/>
          5154 BØNES
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <a href="mailto:support@toyloop.no"><i class="material-icons">email</i></a>
        </div>
        <div class="col-10">
          <a href="mailto:support@toyloop.no">support@toyloop.no</a>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="icons">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
        </div>
      </div>
    </footer>
  </div>
</footer>
