@import "../../../styles/variables";

.header{
  border-bottom: 2px solid $red;
  padding-bottom: 35px;
  .container{
    margin-top: 35px;
    .logo-wrapper{
     text-align: left;
      @media screen and (max-width: $small-screen) {
        text-align: center;
      }
      .logo{
        height: 70px;
      }
    }
    .navigation{
      text-align: right;
      padding-top: 25px;

      @media screen and (max-width: $small-screen) {
        text-align: center;
      }
      a{
        color: black;
        padding: 15px;
        font-size: 22px;
      }
    }
  }

}
