<article id="how" class="about">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Hvordan fungerer det?</h1>
      </div>
    </div>
    <div class="row how">
      <div class="col-md-2 offset-md-3">
        <img alt="shopping cart" src="./assets/images/Buy.png">
      </div>
      <div class="col-md-5">
        <p class="how-text">Kjøp et abonnement som passer best for ditt behov og økonomi</p>
      </div>
    </div>
    <div class="row how">
      <div class="col-md-2 offset-md-3">
        <img alt="ship service" src="./assets/images/ship.png">
      </div>
      <div class="col-md-5">
        <p class="how-text">Motta nye leker hver tredje måned, tilpasset barnets alder</p>
      </div>
    </div>
    <div class="row how">
      <div class="col-md-2 offset-md-3">
        <img alt="return service" src="./assets/images/return.png">
      </div>
      <div class="col-md-5">
        <p class="how-text">Returer de gamle leke som bare ligger å støver ned</p>
      </div>
    </div>
  </div>
</article>
